<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71972361225-gtc4af6j16v2lsrbe60k4u86kcgdeopt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71972361225-gtc4af6j16v2lsrbe60k4u86kcgdeopt</string>
	<key>API_KEY</key>
	<string>AIzaSyDC54X24-MtNW6sElOhPQOxorq46A7GZww</string>
	<key>GCM_SENDER_ID</key>
	<string>71972361225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shareCostApp</string>
	<key>PROJECT_ID</key>
	<string>share-costs-app-data</string>
	<key>STORAGE_BUCKET</key>
	<string>share-costs-app-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71972361225:ios:881243bb430cf68c6454d8</string>
</dict>
</plist>